*{
	font-family: 'Lato', sans-serif;
}

html{
	background: url('assets/Backdrop.png');
	background-size: cover;
	/*width: 100vw;*/
	height: auto;
	background-repeat: no-repeat;
	/*overflow-x: hidden;*/
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

.top-half{
	width: 450px;
	margin: 0 auto;
	text-align: center;
}

.top-half p{
	color: rgba(0, 0, 0, .5);
}

.main-holder{
	display: flex;
	margin-top: 5%;
}

.right-side, .left-side{
	flex: 0.5;
	display: flex;
	flex-direction: column;
}

.main-holder p {
	color: rgba(0, 0, 0, .5);
}

.left-side{
}
.right-side{
	align-items: flex-start;
    margin-top: 6%;  
}

.right-side img{
  width: 70%;

}

.placeholder-section{
  text-align: center;
  width: 100%;
}

.placeholder-section h2{
  color: #0000008c;
}
.results-section{
  width: 100%;
}
.converter-inputs{
	display: flex;
}

.converter-inputs > div {
	margin-right: 25px;
}

.converter-inputs svg{
    width: 30px;
    margin-right: 28px;
    padding: 0;
    transform: translateY(-5px);
    height: 90px;
}



/* Form style  */

.material-form {
  padding: 15px;
  background-color: #fff;
  box-shadow: 1px 4px 34px rgb(0 0 0 / 10%);
}
.material-form .input-block {
  background-color: #fff;
  border-bottom: solid 1px #c8c8c8;
  width: 100%;
  height: 50px;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.material-form .input-block::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 0%;
  bottom: 0;
  height: 2px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #F28F48;
}
.material-form .input-block.focus {
  border-color: #fff;
}
.material-form .input-block.focus label {
  color: #F28F48;
  top: 0;
  font-size: 13px;
}
.material-form .input-block.focus::before {
  left: 0%;
  width: 100%;
}
.material-form .input-block.has-value {
  background-color: #fff;
}
.material-form .input-block.has-value label {
  top: 0;
  font-size: 13px;
}
.material-form .input-block.error {
  border-color: #fff;
}
.material-form .input-block.error::before {
  left: 0%;
  width: 100%;
  background-color: #d50000;
}
.material-form .input-block.textarea {
  height: auto;
}
.material-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}
.material-form .input-block.floating-field {
  padding: 2px 0 0;
  height: 62px;
}
.material-form .input-block.floating-field.textarea {
  height: auto;
}
.material-form .input-block label {
  position: absolute;
  left: 0;
  top: 29px;
  width: 100%;
  height: 20px;
  margin: 0;
  font-weight: 500;
  z-index: 1;
  color: #939393;
  font-size: 13px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.material-form .input-block .form-control {
  background-color: transparent;
  padding: 4px 0 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
}
.material-form .input-block .form-control:focus {
  outline: none;
}
.material-form .input-block .form-control:focus label {
  top: 0;
}
.material-form .error-label {
  color: #d50000;
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 10px;
}
.material-form .form-note {
  font-size: 13px;
  color: #939393;
  margin-top: -15px;
  margin-bottom: 15px;
}
.material-form .square-button {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0;
  height: 60px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.material-form .square-button:last-child{
  border: 2px solid #F28F48;
  color: #F28F48;
  background: white;  font-size: 20px;

}
.material-form .square-button:hover, .material-form .square-button:focus {
}

/*dropdown list as ul li method*/
.select-block {
  background-color: #fff;
  width: 100%;
  padding: 12px 0 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.select-block label {
  position: absolute;
  left: 0;
  top: 32px;
  height: 20px;
  width: 100%;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 0;
  font-weight: 500;
  z-index: 1;
  color: #939393;
  font-size: 12px;
  line-height: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.select-block .active-list {
  width: 100%;
  height: 52px;
  padding: 0;
  color: #c9c9c9;
  position: relative;
  z-index: 2;
  font-weight: 500;
  cursor: pointer;
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.select-block .active-list:after {
  content: "▼";
  position: absolute;
  right: 0;
  background-color: #fff;
  top: 50%;
  width: 20px;
  padding-left: 5px;
  text-align: left;
  height: 52px;
  line-height: 52px;
  color: #939393;
  font-size: 14px;
  margin-top: -26px;
}
.select-block.added label {
  top: 0;
  font-size: 13px;
}
.select-block.added .active-list {
  color: #3c3c3c;
  font-size: 12px;
}
.select-block.added.focus label {
  top: 0;
}
.select-block.focus label {
  top: 0;
  font-size: 13px;
  color: #F28F48;
}
.select-block.focus .active-list {
  font-size: 12px;
}
.select-block.focus .custom-select {
  border-color: #fff;
}
.select-block.focus .active-list:after {
  content: "▲";
  color: #3c3c3c;
}
.select-block.focus .custom-select::before {
  left: 0%;
  width: 100%;
}
.select-block .custom-select {
  border-bottom: solid 1px #c8c8c8;
  display: inline-block;
  height: 52px;
  position: relative;
  padding: 0;
  width: 100%;
  line-height: 52px;
}
.select-block .custom-select::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 0%;
  bottom: 0;
  height: 2px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #F28F48;
}
.select-block .custom-select .list-field {
  width: 100%;
  height: 52px;
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.select-block .custom-select .drop-down-list {
  width: 100%;
  height: auto;
  max-height: 250px;
  overflow-x: auto;
  z-index: 99;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  margin-top: 2px;
  left: 0;
  background-color: white;
  display: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
}
.select-block .custom-select .drop-down-list li {
  padding: 10.5px 15px;
  cursor: pointer;
  font-size: 12px;
  line-height: normal;
  background-color: #fafafa;
  background-color: #fff;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.select-block .custom-select .drop-down-list li input[type="checkbox"] {
  margin: 0;
  margin-right: 8px;
  position: relative;
  top: 1px;
}
.select-block .custom-select .drop-down-list li label {
  font-weight: normal;
  cursor: pointer;
  display: block;
}
.select-block .custom-select .drop-down-list li:hover {
  color: #3c3c3c;
  background-color: rgba(0, 0, 0, 0.05);
}
.select-block .custom-select .drop-down-list .add-new {
  border-top: solid 1px #c8c8c8;
  padding: 15px;
  color: #3c3c3c;
}
.select-block .custom-select .drop-down-list .add-new i {
  font-size: 16px;
  margin-top: 3px;
  color: #939393;
}

@media (min-width: 768px) {
  .contact-wrap {
    width: 475px;
  }

  .material-form .input-block label {
    font-size: 16px;
    line-height: 14px;
  }
  .material-form .input-block .form-control {
    font-size: 16px;
  }

  .select-block label {
    font-size: 16px;
    line-height: 14px;
  }
  .select-block.added .active-list {
    font-size: 16px;
  }
  .select-block.focus .active-list {
    font-size: 16px;
  }
  .select-block .custom-select .drop-down-list li {
    font-size: 15px;
  }

  .material-form {
    padding: 30px;
  }
}


.ing-qt{
  display: flex;
}

.ing-qt div{
 margin-right: 25px;
}

.ing-qt .select-block {
  width: 73%;
}

.ing-qt .input-qty{
  width: 30%;
}

.original-r, .resized-r{
    position: relative;
    width: 80%;
    box-shadow: 1px 4px 34px rgb(0 0 0 / 10%);
    padding: 10px;
    margin-bottom: 41px;
    background: #FFF;
    margin-left: 10%;
}



.original-r h3, .original-r p, .original-r ul, .resized-r h3, .resized-r p, .resized-r ul {
    margin-left: 25px;
}

.cta-holder{
  display: flex;
}

.print-btn{
    display: none;
    margin-left: 10%;
    padding: 16px;
    cursor: pointer;
    border: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background: #F28F48;
    box-shadow: 1px 4px 34px rgb(0 0 0 / 10%);
    transition: .2s;
}

.print-btn:hover{
  transform: translateY(3px);
}

.add-btn{
  margin-right: 25px;
  font-size: 15px !important;
  color: black !important;
  background: #00000014 !important;;

}

.add-btn svg{
  display: inline;
  width: 20px;
  height: 20px;
  transform: translate(-9px, 5px);
}

.logo svg{
    transform: scale(.7);
    margin-top: 9%;
    margin-left: -32px;    
}

header{
display: flex;
justify-content: center;
}

.top-half{
    flex: 0.466;

  }

.logo{
  flex: .1;
}

.btn-submit{

}

/* responsive  */

@media (max-width: 768px) {
  .main-holder{
    flex-direction: column;
    margin: 40px;
  }
} 

@media (max-width: 500px) {

  .unit-holder label{
    font-size: 14px !important;
  }
  .swal2-popup.swal2-modal.swal2-icon-error.swal2-show, .swal2-popup.swal2-modal.swal2-icon-success.swal2-show{
    width: 283px;
    transform: translateX(-15%);
  }
     .logo svg{
      margin-left:0 !important;    
  }

  .print-btn{
    padding: 14px;
    margin-left: 0;
  }

  .swal-wide{
    width: 300px !important;
  transform: translateX(-10%);    
  }
  .swal2-html-container{
    padding: 0 !important;
    margin: 0 !important;

  }
  .swal-wide .swal2-input{
    margin: 1em 0em 3px !important;
  }

  .swal-wide .swal2-title{
    font-size: 25px !important;
  }


    .foodRes{
      margin-right: 0 !important;
      width: 129px !important;
    }
    .material-form .input-block label{
      width: 150% !important;
    }

  header{
    flex-direction: column;
    text-align: center;
  }

  .top-half{
    width: auto;
  }

  .original-r, .resized-r{
    width: 95%;
    margin-left: 0;
  }

  .ing-qt .select-block{
    width: 140%;
  }
} 

.resized-ul, .original-ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.resized-ul li, .original-ul li{
    background: #ff980026;
    box-shadow: 1px 4px 34px rgb(0 0 0 / 5%);
    padding: 12px;
    margin: 10px;
    margin-left: 0;    
    transition: .1s;
}

.resized-ul li:hover, .original-ul li:hover{
  transform: translateX(-3px);
}

.resized-r{
  position: relative;
}
.resized-r:after {
    width: 139px;
    height: 42px;
    display: block;
    position: absolute;
    top: 0;
    background: #ffc10759;
    content: 'Resized Recipe 📄';
    right: 0;
    line-height: 2.5;
    text-align: center;
    background-image: linear-gradient(90deg, #ffffff00 0px, #ffffff66 30px, #afffb200 60px);
    background-size: calc(160px + 160px);
    animation: refresh 1.2s infinite linear;
}

.original-r:after{
   width: 139px;
    height: 42px;
    display: block;
    position: absolute;
    top: 0;
    background: #aba69859;
    content: 'Original Recipe 📄';
    right: 0;
    line-height: 2.5;
    text-align: center;
    background-image: linear-gradient(90deg, #ffffff00 0px, #ffffff66 30px, #afffb200 60px);
    background-size: calc(160px + 160px);
    animation: refresh 1.2s infinite linear;
}

@keyframes refresh {
  0% {
    background-position: calc(-160px);
  }
  60%, 100% {
    background-position: 160px;
  }
}@keyframes refresh {
  0% {
    background-position: calc(-160px);
  }
  60%, 100% {
    background-position: 160px;
  }
}

.ing-h3{
     color: #0000009e;
    font-size: 17px;
}

#calculator{
  margin-bottom: 10%;
}

input#metric, input#imperial {
    margin-bottom: 5%;
    margin-right: 0%;
}

/*input autocomplete*/

  .foodSuggest.required{
    font-size:15px;
  }
  .foodRes{
    z-index: 99999;
    background:#FFF;
    position: absolute;
        margin-right: 0;
    width: 100%;
  }
  p.foodP {
    padding: 12px;
    border-bottom: 1px solid #EEE;
    margin: 0;
  font-size:15px;
    box-shadow: 13px 1px 10px 0px rgb(0 0 0 / 1%);
    transition: .3s;
}
  
  p.foodP:hover{
    background:#EEE;
    transition: .3s;
  }

/* animation  */
.box{
  display: none;
  margin: 0 auto;
}
.loadingp {display: none;}
  @keyframes circle-move {
        0% {
          offset-distance: 0%;
          visibility:hidden;
        }
        15% {
          offset-distance: 0%;
          visibility:hidden;
        }
        55% {
          offset-distance: 0%;
          visibility:hidden;
        }
        100% {
          offset-distance: 100%;
        }
      }
      @keyframes triangle-pan-move {
        0% {
          offset-distance: 0%;
        }
        50% {
          offset-distance: 100%;
          visibility:hidden;
        }
        100% {
          offset-distance: 100%;
          visibility:hidden;
        }
      }
      @keyframes triangle-rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes triangle-move {
        0% {
          offset-distance: 0%;
          visibility:hidden;
        }
        15% {
          offset-distance: 0%;
          visibility:hidden;
        }
        53% {
          offset-distance: 2%;
          visibility:hidden;
        }
        100% {
          offset-distance: 100%;
        }
      }
      @keyframes square-pan-move {
        0% {
          offset-distance: 0%;
        }
        50% {
          offset-distance: 100%;
          visibility:hidden;
        }
        100% {
          offset-distance: 100%;
          visibility:hidden;
        }
      }
      @keyframes square-pan-rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-180deg);
        }
      }
      @keyframes square-rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes square-move {
        0% {
          offset-distance: 0%;
          visibility:hidden;
        }
        15% {
          offset-distance: 0%;
          visibility:hidden;
        }
        55% {
          offset-distance: 4%;
          visibility:hidden;
        }
        100% {
          offset-distance: 100%;
        }
      }
      @keyframes saucepan-rotate {
        0% {
          transform: rotate(-5deg);
          transform-origin: top right;
        }
        50% {
          transform: rotate(-20deg);
          transform-origin: top right;
        }
        60% {
          transform: rotate(20deg);
          transform-origin: top right;
        }
        100% {
          transform: rotate(-5deg);
          transform-origin: top right;
        }
      }
      @keyframes saucepan-move {
        0% {
          transform: translate(30px, 100px);
        }
        25% {
          transform: translate(40px, 100px);
        }
        50% {
          transform: translate(20px, 103px);
        }
        55% {
          transform: translate(25px, 80px);
        }
        100% {
          transform: translate(30px, 100px);
        }
      }


      /* Circle */

      .circle-anim {
        position:absolute;
        width:20px;
        height:17px;
        motion-path: path('M43,89.0577331 C60.5,-36.833101 70,85.7717468 70,106');
        offset-path: path('M43,89.0577331 C60.5,-36.833101 70,85.7717468 70,106');
        offset-rotate:0deg;
        animation: circle-move 1500ms ease infinite;
        animation-timing-function: cubic-bezier(0.3, 0.8, 0.7, 0.1);
      }

      /* Square */
      .square {
        animation: square-rotate 1000ms 0s linear infinite;
      }
      .square-pan {
        animation: square-pan-rotate 1500ms 0s ease-out infinite;
      }
      .square-pan-anim {
        position:absolute;
        width:20px;
        height:17px;
        motion-path: path('M70,113 C68.9784946,125.952381 62.6451613,133.952381 51,137');
        offset-path: path('M70,113 C68.9784946,125.952381 62.6451613,133.952381 51,137');
        offset-rotate:-20deg;
        animation: square-pan-move 1500ms ease-in infinite;
      }
      .square-anim {
        position:absolute;
        width:20px;
        height:17px;
        motion-path: path('M43,88.4704287 C60,-1.84206626 70,89.0177603 70,104');
        offset-path: path('M43,88.4704287 C60,-1.84206626 70,89.0177603 70,104');
        offset-rotate:0deg;
        animation: square-move 1500ms ease infinite;
        animation-timing-function: cubic-bezier(0.3, 0.8, 0.7, 0.1);
      }

      /* Triangle */
      .triangle {
        animation: triangle-rotate 750ms 0s linear infinite;
      }
      .triangle-pan-anim {
        position:absolute;
        width:20px;
        height:17px;
        motion-path: path('M74,109 C72.3333333,120.333333 62,127.333333 43,130');
        offset-path: path('M74,109 C72.3333333,120.333333 62,127.333333 43,130');
        offset-rotate:-10deg;
        animation: triangle-pan-move 1500ms ease-in infinite;
      }
      .triangle-anim {
        position:absolute;
        width:20px;
        height:17px;
        motion-path: path('M40,97.618111 C63.5,-91 79.5454545,86.3940081 80,111');
        offset-path: path('M40,97.618111 C63.5,-91 79.5454545,86.3940081 80,111');
        offset-rotate:0deg;
        animation: triangle-move 1500ms ease infinite;
        animation-timing-function: cubic-bezier(0.3, 0.8, 0.7, 0.1);
      }

      /* Saucepan */
      .saucepan {
        animation: saucepan-rotate 1500ms 0s ease-out infinite;
      }
      .saucepan-anim {
        position:absolute;
        animation: saucepan-move 1500ms infinite normal ease-in-out;
      }}

